<header>
  <div class="container">
    <app-button id="collections" text="Коллекция" [toggled]="false" image="assets/Collection.svg"></app-button>
    <app-button id="add" text="Добавить" [toggled]="true" image="assets/Plus.svg"></app-button>
  </div>
  <img src="assets/logo.svg" alt="Watch Later Logo"/>
  <div class="container">
    <app-button id="search" text="Поиск" [toggled]="false" image="assets/Search.svg"></app-button>
    <img class="avatarImage" alt="Profile avatar" src="assets/Avatar.png" />
  </div>
</header>
