.container {
  display: flex;
  padding-top: 60px;
  justify-content: center;
  font-family: SF Pro Display, sans-serif;
}

.main {
  h1 {
    text-align: center;
  }
}

form {
  input {
    padding: 16px 8px;
    border-width: 0 0 0.5px;
    width: 450px;
    font-size: 17px;
  }
}

.searchResults {
  display: flex;
  flex-direction: column;
}

.movie {
  display: flex;
  align-items: center;
  margin: 6px 0;
  img, .emptyImg {
    margin-right: 16px;
    height: 80px;
  }
  .emptyImg {
    width: 52px;
    background: #f5f5f5;
  }
  h2 {
    color: #878787;
    margin: 0;
  }
  span {
    color: #cecece
  }
  p {
    text-align: center;
    border: 1px solid #002DFF;
    box-sizing: border-box;
    border-radius: 14px;
    font: 500 12px Calibri;
    width: 24px;
    height: 16px;
  }
}

.advancedSearch {
  padding-top: 8px;
  input, select {
    width: 100%;
    font-size: 17px;
    border-width: 0 0 0.5px;
    padding: 8px 8px;
  }
  label {
    font-weight: 700;
  }
  width: 450px;
}

.center {
  text-align: center;
}
