<app-header></app-header>
<div class="container">
  <div class="main">
    <h1>О фильме</h1>
    <app-toggle-group [selected]="0" [buttons]="['КиноПоиск', 'Вручную']"></app-toggle-group>
    <form [formGroup]="form">
      <input type="text" formControlName="searchInput" placeholder="Введите название фильма, например «Титаник»">
      <div class="searchResults">
        <ng-container *ngIf="(movies$ | async)!.length > 0 || hideNotFound; else notFound">
          <div class="movie" *ngFor="let movie of movies$ | async">
            <img src="{{movie.thumbnail_url}}" alt="{{movie.title}}">
            <div>
              <h2>{{movie.title}}</h2>
              <span>{{movie.date}}</span>
              <p>{{movie.rating}}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </form>
  </div>
</div>

<ng-template #notFound>
  <div class="movie">
    <div class="emptyImg"></div>
    <div>
      <h2>Фильм не найден</h2>
      <span>Добавьте его вручную</span>
    </div>
  </div>
</ng-template>
