.buttonGroup {
  background: #7676801F;
  border-radius: 8px;
  height: 32px;
  display: inline-block;
  button {
    width: 170px;
    height: 90%;
    border-radius: 8px;
    cursor: pointer;
    border: none;
  }
  .selected {
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 3px 8px #0000001E, 0 3px 1px #0000000A;
    background: #fff;
  }
}
