.btn {
  position: relative;
  width: 150px;
  height: 38px;
  border-radius: 20px;
  border: none;
  background: transparent;
  margin: 10px;
  font: 500 18px Calibri;
  padding-left: 25px;
  cursor: pointer;
  &Active {
    @extend .btn;
    background: #002DFF;
    color: white;
    img {
      filter: none!important;
    }
    &:hover {
      background: #4667ff!important;
    }
    &:active {
      background: #001b9a !important;
    }
  }
  img {
    position: absolute;
    width: 24px;
    left: 12px;
    top: 7px;
    filter: brightness(0) invert(9%) sepia(100%) saturate(6881%) hue-rotate(237deg) brightness(103%) contrast(116%);
  }
  &:hover {
    background: #d9d9d9;
  }
  &:active {
    background: #8c8c8c;
  }
  &WithBorders {
    @extend .btn;
    border: 3px solid #002DFF;
    img {
      top: 4.5px;
    }
  }
}
