.imageUploader {
  width: 120px;
  height: 120px;
  background: #F2F2F2CC;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    width: 24px;
  }
  label {
    color: #3C3C434D;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
  }
}
